strong {
    color: goldenrod;
}

body {
    background-color: burlywood
}

.cabecalho {
    background-color: rgb(84, 45, 29);
    color: bisque;
    text-align: center;
    margin-left: 0%;
    padding: 2%;
    border: 5px solid rgb(121, 76, 57);
    border-radius: 50px;
}

.paragrafo-destaque {
    background-color: rgb(53, 40, 33);
    color: rgb(255, 244, 125);
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin: 100px;
    border-radius: 30px;
    padding: 50px;
}

.paragrafo-principal {
    background-color: aliceblue;
    border-radius: 30px;
    padding: 20px;
}