.header {
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

a {
  color: white;
  text-shadow: #FC0 1px 0 10px;
}
