* {
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;    
    height: 92vh;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #242649;
    color: #e7fcff;
    width: 100%;
    height: 11%;
    box-shadow: inset 0px 0px 20px 1px rgba(255, 255, 255, 0.342);

    
}

.header h1, i{
    padding-top: 1.5%;
    margin-left: 5px;
    margin-right: 5px;
}

.topbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    align-content: center;
    
    background-color: #b2d4eb;
    color: #242649;
    width: 100%;
    height: auto;
    background: linear-gradient(135deg, #b8cced, #b2d4eb);

}

.menuitem {
    display: flex;
    align-items: center;
    padding: 15px;
    height: auto;
    width: auto;
}

.menuitem label {
    padding: 5px;
}


.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    background: linear-gradient(135deg, #bbd8ee88, #ffffff);
    height: 0.5fr;
}

.tarefa {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 50px;
    padding: 10px;
    margin: 10px;
    background-color: #b2d4eb;
    color: #FFFFFF;
    border-radius: 15px;
    
}

.tarefa-desc {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 5%;
}

.tarefa-buttons {
    display: flex;
    align-items: end;
}

.tarefa p {
    padding: 10px;
}

.tarefa button {
    margin: 5px;
    padding: 5px;
    border-radius: 30px;
    background-color: #242649;
    color: #e4f4ff;
    border: none;
}

.tarefa-completa {
    color: green;
    text-decoration: line-through;
}

.addTarefaField {
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.342);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.addTarefaButton {
    border-radius: 20px;
    border: none;
    box-shadow: inset 0px 0px 5px 5px rgba(181, 208, 255, 0.366);
    padding: 10px;

}

.noTarefaText {
    margin: 20%;
    color: #e7fcff;
    background-color: #242649;
    border-radius: 25px;
    height: auto;
    padding: 20px;
}

.lista-tarefas {
    height: 0.9fr;
    width: 0.7fr;
    overflow: scroll;
}