* {
  height: 90vh;
  background-color: rgb(66, 58, 51);
  color: rgb(202, 200, 166);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  // TODO: Fazer GRID RESPONSIVA
}

.lista {
  overflow-y: scroll;
}

.container {
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  justify-content: space-around;
}
