body {
    margin-left: 1.5%;
}

.main-header {
    background-color: #ed3237;
    color: #fefefe;

    border: 5px solid #fefefe ;
    border-radius: 30px;
    margin-left: 0px;

    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    background-image: url('https://images.seeklogo.com/logo-png/53/2/hot-wheels-treasure-hunt-logo-png_seeklogo-532806.png');
    background-size: contain;
    background-repeat: no-repeat;
}

a {
    color: #ad2227;
}