* {
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    font-size: 30px;   
}
.main-container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    height: 12%;  
    padding-top: 10px;
    padding-bottom: 10px;
}

.content {
    display: flex;
    flex-direction: row;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, rgb(44, 44, 44), rgb(161, 21, 21) );
    width: 15%;
    gap: 15px;
    padding-top: 15px;
    margin-right: 50px;
}

.link {
    display: flex;
    background-color: brown;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    height: 50px;
    width: 100%;
    
    font-size: auto;

    border-radius: 5px;
    margin-left: 20px;
}

div a {
    color: brown;
    height: auto;
}


.button {
    width: 30px;
}

input {
    width: 100%;
}

.main {
    height: auto;
}

.main-content {
    width: 100%;
}

.row {
    margin-bottom: 15px;
}